extends ./layout.jade

block content

    .page-header
        h2 Welcome to Chat System!
        h3 - written by Amir via node.js, express.js and socket.io
        img.img-responsive(src="static/chat.png", alt="Cinque Terre", width="304", height="236")
